<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>
  {% block navbar %}
<nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Reverse Geocoder</a>
            </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">{{ ('Home') }}</a></li>
                    <li><a href="{{ url_for('home') }}">{{ ('Process Your CSV Here!') }}</a></li>
                </ul> </div>
</nav>
{% endblock %}

    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>