<html>
    <head>
      <title>Reverse Geocoder</title>
      <title>Welcome to DOHMH</title>
    </head>
    <body>
        <div>Home: <a href="/index">Home</a></div>
        <div>Process: <a href="/processing">Processing</a></div>
        <hr>
        <h1>NYC DOHMH Reverse Geocoding Website</h1>
        <h3>The purpose of this website is to allow users to upload a CSV with coordinate data, select the relevant
        New York City administrative boundaries they would like to see associated with their data, and return that CSV
        with each line having the relevant NYC geography data appended to it.
        <br>
        To get started, you must have a CSV file with latitude and longitude data.<br>
        <b>NOTE: The latitude column MUST be named Lat and the longitude column MUST be named Lon.</b><br>
        Click on the <a href="/processing">Processing</a>.<br>
        Select your CSV file to upload.<br>
        Select the projection your data is in, whether in decimal degrees (Geographic) or in State Plane.<br>
        Check off the geographies you would like appended to your data. You can select as many as you'd like.<br>
        Hit "Process". Your updated CSV will download automatically when the process is complete.</h3>
    </body>
</html>
