<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
    <meta charset="UTF-8">
    <title>Success!</title>
    <style>
    #my-map {
	width:1080px;
	height:700px;
}
</style>
</head>
<body>
<div>Home: <a href="/index">Home</a></div>
<div id="my-map"></div>
<h1>Report Generated Successfully</h1>
<a href="{{url_for('download_file',result_id=result_id)}}">Download</a>

<script type="text/javascript">
window.onload = function () {

   var geojson = L.geoJSON({{ result | tojson | safe}}, {
     onEachFeature: function (feature, layer) {
       var popupContent = '<table>';
       for (var p in feature.properties) {
         popupContent += '<tr><td>' + p + '</td><td>'+ feature.properties[p] + '</td></tr>';
       }
       layer.bindPopup(popupContent);
     }
   });

   var map = L.map('my-map', {
<!--     center: geojson.getBounds().getCenter()-->
   });

   L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
	 attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
   }).addTo(map);

   var markers = L.markerClusterGroup();
   markers.addLayer(geojson);

<!--   geojson.addTo(map);-->
   map.addLayer(markers);
   map.fitBounds(markers.getBounds());
  };
</script>

</body>
</html>